<mat-toolbar class="app-header" color="primary">
  <div fxFlex fxHide.lt-md fxLayout fxShow="true">
    <div fxFlex>
      <a mat-button routerLink="login" routerLinkActive="active">Login</a>
      <a mat-button mat-raised-button routerLink="movements" routerLinkActive="active">Movements</a>
    </div>
    <div fxFlex fxLayoutAlign="flex-end center">
      <a (click)="logout()" class="right-item" mat-button mat-raised-button routerLink="movements"
         routerLinkActive="active">Log Out</a>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
